<a href="https://colab.research.google.com/github/maddisurekha1234/surekha_INFO5731_-Fall2021/blob/main/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Question 1 Python program to calculate the length of a string

# using string function
str_val = "Computational Methods"
l=len(str_val)
print("length of the string using string function",l)

#using without string function

str_val = "Computational Methods"
count = 0
 
for i in str_val:
    count = count + 1
 
print("The length of the string is  = ", count)

length of the string using string function 21
The length of the string is  =  21

In [20]:
# Question 2 Python program to count the number of characters in a string

def cnt_num_of_strings(string):
  str_dictionary = dict()
  for each_val in string:
    cnt=0
    for i in string:
      if each_val == i:
        cnt+=1
    str_dictionary[each_val] = cnt
  sorted_dictionary = dict( sorted(str_dictionary.items() , key = operator.itemgetter(1), reverse = True))
  return sorted_dictionary

str_val = 'google.com'
print("Expected Result: " , cnt_num_of_strings(str_val))

Expected Result:  {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [24]:
# Question 3 Python program to sum all the items in a list

sum_of_items = 0
list_of_items = [-5,20,10,-50,15]
for each_val in range(0, len(list_of_items)):
    sum_of_items = sum_of_items + list_of_items[each_val]
print("Sum of all items in a given list: ", sum_of_items)

Sum of all items in a given list:  -10

In [25]:
# Question 4 Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself

def change_char_in_str(str_val):
  char = str_val[0]  
  length_of_str = len(str_val)  
  str_val = str_val.replace(char, '$')  
  str_val = char + str_val[1:]  
  return str_val  
print(change_char_in_str('restart'))

resta$t

In [32]:
# Question 5 Python program which could accept two parameter a and b to calculate and output the result of S ð‘†=3.14âˆ—(1+ð‘Ž/ð‘)3

#function to throw the error when zero is given as b value

def error(error_desc):
  print(error_desc)
#use function to accept two parameters 
def cal_the_S_value(a,b):
  if b == 0:
    error("Error: Divide by zero")
  return 3.14 * (1 + a/b)**3
para1 = int(input("Enter the value of a: "))
para2 = int(input("Enter the value of b: "))
print("The output is: " ,cal_the_S_value(para1,para2))

Enter the value of a: 8
Enter the value of b: 9
The output is:  21.161618655692727

In [34]:
# Question 6 Python program to concatenate following dictionaries to create a new one.

dictionary1 = { 1: 10, 2: 20}
dictionary2 = { 3: 30, 4: 40}
dictionary3 = { 5 : 50, 6 : 60 }
dictionary4 = {}
for each_dic in (dictionary1, dictionary2, dictionary3): dictionary4.update(each_dic)
print("concatenated dictionary is ",dictionary4)

concatenated dictionary is  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [44]:
# Question 7 Python program to check whether an element exists within a tuple
tuple = ("Surekha", "INFO 5731" , "Computational Methods" , "Data Science","UNT")
element = input("enter the element")
if element in tuple:
    print(element,"exists in tuple")
else:
    print(element,"does not exist in tuple")

enter the elementhello
hello does not exist in tuple

In [47]:
# Question 8 Python program to find maximum and the minimum value in a set
set_items = {28, 49, 25, 17,1}
# find maximum value
print(max(set_items))
#find minimum value
print(min(set_items))

49
1

In [55]:
# Question 9 Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students 

import random
stu_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057',
                'vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768',
                'mv0299','tv0119','dy0091']
groupsize = []
for each_iteration in range(5):
  groupsize.append(random.randint(3,5))

if sum(groupsize) == len(stu_list):
  print(groupsize)
  for  each_j in range(5):
    sample_stu = random.sample(stu_list,groupsize[each_j-1])
    stu_list = [each_j for each_j in stu_list if each_j not in sample_stu]
    print("students " +str(each_j+1)+ " : ",sample_stu)

[4, 5, 4, 4, 5]
students 1 :  ['snd0097', 'spk0057', 'at0739', 'nm0547', 'vmb0067']
students 2 :  ['rak0120', 'tv0119', 'rs0850', 'ds0761']
students 3 :  ['yye0005', 'bk0301', 'sg0940', 'dy0091', 'mv0299']
students 4 :  ['vl0135', 'pn0159', 'pc0353', 'msp0174']
students 5 :  ['ss1995', 'at0768', 'rrk0058', 'dd0420']

In [81]:
# Question 10 Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements
from collections import Counter
def duplicate_elements(b):
  dict_val=Counter(b)
  print(dict_val,type(dict_val))
  b=Counter({k: c for k, c in dict_val.items() if c > 1})
  print(bool(b),b)
  if (bool(b) == False):
    return -1
  print("array has duplicate values")
arr_int=[1,3,6,4,8]
output= duplicate_elements(arr_int)
print(output)

Counter({1: 1, 3: 1, 6: 1, 4: 1, 8: 1}) <class 'collections.Counter'>
False Counter()
-1

In [84]:
# Question 11 Python program to select all the Sundays of a specified year

import pandas as pnd
year_input = "2021"
start_date = year + "-01-01"
number_of_periods = 52
freq = "W-SUN"
sundays = pd.date_range(start = start_date,
                        periods = number_of_periods,
                        freq = freq)                      
print(sundays)

DatetimeIndex(['2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
               '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21',
               '2021-03-28', '2021-04-04', '2021-04-11', '2021-04-18',
               '2021-04-25', '2021-05-02', '2021-05-09', '2021-05-16',
               '2021-05-23', '2021-05-30', '2021-06-06', '2021-06-13',
               '2021-06-20', '2021-06-27', '2021-07-04', '2021-07-11',
               '2021-07-18', '2021-07-25', '2021-08-01', '2021-08-08',
               '2021-08-15', '2021-08-22', '2021-08-29', '2021-09-05',
               '2021-09-12', '2021-09-19', '2021-09-26', '2021-10-03',
               '2021-10-10', '2021-10-17', '2021-10-24', '2021-10-31',
               '2021-11-07', '2021-11-14', '2021-11-21', '2021-11-28',
               '2021-12-05', '2021-12-12', '2021-12-19', '2021-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')